header {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

main {
  margin-inline: 0.2rem;
  display: flex;
}

.card > h3 {
  margin: 0px;
  padding-block: 1rem;
  border-radius: 1rem 1rem 0 0;
}

.card > span {
  display: flex;
  gap: 0.2rem;
}

.card > button {
  align-self: center;
}

.card > p {
  min-height: 3rem;

}
footer {
  margin-inline: 2rem;
}

