<header>
  <h1>Blogs</h1>
  <p>Some of my latest blogs</p>
</header>

<main>
  @if (userAuth.isLoggedIn) {
    <nav class="blog-nav">
      <ul>
        <li>
          <a [routerLink]="'editor'">Create</a>
        </li>

        <li>
          <input
            class="search-bar"
            type="text"
            placeholder="titles, tags, authors"
          />
        </li>
      </ul>
    </nav>
  } @else {
    <input class="search-bar" type="text" placeholder="titles, tags, authors" />
  }
  <section class="cards-grid">
    @if (blogs.hasValue()) {
      @if (blogs.value().blogs.length === 0) {
        No blogs, maybe write one?
      } @else {
        @for (blog of blogs.value().blogs; track $index) {
          <section class="card">
            <h3>{{ blog.title }}</h3>
            <span class="author"
              ><small
                ><img
                  alt="profile picture of {{ blog.author }}"
                  src="images/stealthninja.png"
                  width="32px"
                  height="32px"
                />stealthninja</small
              >
              <small>5 min read</small></span
            >
            <span class="creation-date">{{ blog.created_on }}</span>
            <p>{{ blog.content.substring(0, 30) + "..." }}</p>
            <button [routerLink]="['/blogs/' + blog.id]" class="secondary">
              go to blog
            </button>
          </section>
        }
      }
    } @else if (blogs.isLoading()) {
      Loading blogs...
    } @else if (blogs.error()) {
      Blogs could not be loaded...
    }
  </section>
</main>

<footer></footer>
