<header>
    <h1>Welcome 👋</h1>
    <p>The user name is stealthninja.
        I'm a hobbyist programmer
        from Kerala. This is my website
        Its hosted on my "server"
        beside my desk.
        Feel free to make yourself
        at home.
    </p>
    <section class="buttons">
        <button class="primary">projects</button>
        <button class="secondary">latest blogs</button>
    </section>
</header>
<main>
    <section class="cards-grid">
        <section class="card">
            <h3>robotics an art worth the money</h3>
            <span class="author"><small><img alt="profile picture of stealthninja" src="images/stealthninja.png" width="32px" height="32px">stealthninja</small> <small>5 min read</small></span>
            <p>Read about my experience at a robotics workshop</p>
            <button class="secondary">
                go to blog
            </button>
        </section>
        <section class="card">
            <h3>about me</h3>
            <span class="author"><small><img alt="profile picture of stealthninja" src="images/stealthninja.png" width="32px" height="32px">stealthninja</small> <small>5 min read</small></span>
            <p>Read more about how I became a hobbyist programmer</p>
            <button class="secondary">
                go to blog
            </button>
        </section>
    </section>
</main>
<footer>

</footer>