/* small screens */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header > p {
    width: 32ch;
}

.buttons {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 2rem;
}


.cards-grid {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-color: var(--text);
    border-width: 1px;
    border-style: solid;
    border-radius: 1rem;
}



.author {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.author > small {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.author > small > img {
    border-radius: 1rem;
    margin-right: 0.2rem;
}
.card > h3 {
    text-align: center;
}


/* medium screens */

@media only screen and (min-width: 768px) {
    header {
        align-items:flex-start;
        padding-inline: 5rem;
        padding-block: 3rem;
    }

    .cards-grid {
        margin-inline: 4rem;
        grid-template-areas: 
        "a b c"
        "d e f";
    }

}