<header>
  <img [src]="user().avatar" width="256" height="256" alt="profile picture" />
  <section class="profile">
    <h1>{{ user().username }}</h1>
    <section class="stats">
      <span> 20 &lt;3</span>
      <span> 30 rts </span>
    </section>
    <section class="bio">
      <h3>Bio</h3>
      <p>Lorem ipsum dore amen</p>
    </section>
  </section>
</header>
<main>
  <section class="bio"></section>

  <section class="blogs">
    <h2>Blogs</h2>
    <section class="cards-grid">
      <app-card title="Blog1" description="this blogs talks about x, y and z">
      </app-card>

      <app-card title="Blog2" description="this blogs talks about a, b and c">
      </app-card>
      C
      <app-card title="Blog3" description="this blogs talks about p, r and q">
      </app-card>
    </section>
  </section>
  <section class="comments">
    <h2>Comments</h2>
  </section>
</main>
