<article class="card">
  <section class="card-header">
    <h3 class="card-title">{{ title() }}</h3>
  </section>
  <hr />

  <section class="card-body">
    @if (blog(); as blog) {
      <span class="author"
        ><small
          ><img
            [alt]="'avatar of' + blog.author.username"
            src="images/stealthninja.png"
            width="32px"
            height="32px"
          />{{ blog.author.username }}</small
        >
        <small>{{ calculateReadTime(blog.content) }} min read</small></span
      >
      <p>{{ blog.content.substring(0, 48) }}...</p>
      <button class="button secondary" onclick="">go to blog</button>
    } @else {
      <p>{{ description() }}</p>
    }
  </section>
</article>
