<nav>
    <ul>
        <li>
            <a i18n="navbar-home" [routerLink]="['/']" >
            Home
            </a>
        </li>
        <li>
          <a i18n="navbar-projects" [routerLink]="['projects']">
            projects
          </a>
        </li>
        <li>
          <a i18n="navbar-blogs" [routerLink]="['blogs']">
            blogs
          </a>
        </li>
        <li>
          
          @if(userAuth.isLoggedIn) {
            <a i18n="navbar-profile" routerLink="'profile'">profile</a>
              
          } @else {
            <a i18n="navbar-login" routerLink="'login'">login</a>
          }
        </li>

    </ul>

</nav>
