<nav>
    <ul>
        <li>
            <a [routerLink]="['/']" >
            Home
            </a>
        </li>
        <li>
          <a [routerLink]="['projects']">
            projects
          </a>
        </li>
        <li>
          <a [routerLink]="['blogs']">
            blogs
          </a>
        </li>
        <li>

          @if(userAuth.isLoggedIn) {
            <a [routerLink]="['profile']">profile</a>

          } @else {
            <a [routerLink]="['login']">login</a>
          }
        </li>

    </ul>

</nav>
