<header>
  <h1>Login</h1>
  <p>Comment on my blogs, Maybe even get a chance to write your own.</p>
</header>
<main>
  <form [formRoot]="loginForm" novalidate>
    <section>
      <h2>Login details</h2>
      <fieldset>
        <p>
          <label for="username">
            <span>Username</span>
            <strong
              ><span class="required" aria-label="required">*</span></strong
            >
          </label>
          <input
            id="username"
            [formField]="loginForm.username"
            placeholder="jane013"
            [class.is-invalid]="
              loginForm.username().touched() && loginForm.username().invalid()
            "
            type="text"
          />
          @if (
            loginForm.username().invalid() && loginForm.username().touched()
          ) {
            <span class="form-error">A Username is required</span>
          }
        </p>
        <p>
          <label for="password">
            <span>Password</span>
            <strong
              ><span class="required" aria-label="required">*</span></strong
            >
          </label>
          <input
            placeholder="********"
            [formField]="loginForm.password"
            [class.is-invalid]="
              loginForm.password().touched() && loginForm.password().invalid()
            "
            id="password"
            type="password"
          />
          @if (
            loginForm.password().touched() && loginForm.password().invalid()
          ) {
            @for (error of loginForm.password().errors(); track error) {
              <span class="form-error">{{ error.message }}</span>
            }
          }
        </p>
      </fieldset>

      <section class="form-controls">
        <button
          type="submit"
          [disabled]="!loginForm().valid() || loginForm().submitting()"
        >
          @if (loginForm().submitting()) {
            Sending your login...
          } @else {
            Submit
          }
        </button>
        <button type="reset" class="secondary">Clear</button>
      </section>

      <section class="form-footer">
        <small
          ><a [routerLink]="'/register'" alt="register"
            >dont have an account?</a
          ></small
        >
      </section>
    </section>
  </form>
</main>
