<header>
    <h1> blogs </h1>
</header>

<main>
    <section class="cards-grid">
        <section class="card">
            <h3>robotics an art worth the money</h3>
            <span class="author"><small><img alt="profile picture of stealthninja" src="images/stealthninja.png" width="32px" height="32px">stealthninja</small> <small>5 min read</small></span>
            <p>Read about my experience at a robotics workshop</p>
            <button [routerLink]="['/blogs/about-me']" class="secondary">
                go to blog
            </button>
        </section>
        <section class="card">
            <h3>about me</h3>
            <span class="author"><small><img alt="profile picture of stealthninja" src="images/stealthninja.png" width="32px" height="32px">stealthninja</small> <small>5 min read</small></span>
            <p>Read more about how I became a hobbyist programmer</p>
            <button class="button secondary">go to blog</button>
        </section>

        <section class="card">
            <h3>Writing an operating system</h3>
            <span class="author"><small><img alt="profile picture of stealthninja" src="images/stealthninja.png" width="32px" height="32px">stealthninja</small> <small>5 min read</small></span>
            <p>Join me on my journey of writing an operating system</p>
            <a class="button secondary">coming soon</a>
        </section>
    </section>
</main>


<footer>

</footer>