<header>
    <h1> blogs </h1>
</header>

<main>

    <section class="cards-grid">
        @for (blog of (blogs$ | async); track $index) {
            <section class="card">
                <h3>{{ blog.title }}</h3>
                <span class="author"><small><img alt="profile picture of {{ blog.author }}" src="images/stealthninja.png" width="32px" height="32px">stealthninja</small> <small>5 min read</small></span>
                <p>{{blog.content.substring(0, 30) + "..."}}</p>
                <button [routerLink]="['/blogs/' + blog.id]" class="secondary">
                    go to blog
                </button>
            </section>
        }
    </section>
</main>


<footer>

</footer>