/* You can add global styles to this file, and also import other style files */
:root {
  color-scheme: light dark;
  --text: light-dark(#070505, #fbf9f9);
  --background: light-dark(#fdfcfc, #030202);
  --primary: light-dark(#a57374, #8c5a5a);
  --secondary: light-dark(#abc6a6, #3f5a3a);
  --accent: light-dark(#86b198, #4e7960);
}

body {
  background-color: var(--background);
  color: var(--text);
  accent-color: var(--primary);
  font-family: "Courier New", Courier, monospace;
}

a {
  color: #add8e6;
  text-decoration: underline;
  width: fit-content;
}

button,
a.button {
  padding: 0.5rem;
  width: 16ch;
  font-size: 13px;
  font-family: "Noto Sans";
  color: inherit;
  background-color: var(--primary);
  text-align: center;
  border-radius: 0.2rem;
  border: none;
}

button.primary,
a.primary {
  background-color: var(--primary);
}

button.secondary,
a.secondary {
  background-color: var(--secondary);
}

button.primary:hover {
  box-shadow: rgb(from var(--primary) r g b / 0.35) 0px 5px 15px;
}

button.secondary:hover {
  box-shadow: rgb(from var(--secondary) r g b / 0.35) 0px 5px 15px;
}

.author {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.author > small {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author > small > img {
  border-radius: 1rem;
  margin-right: 0.2rem;
}

.cards-grid {
  display: grid;
  padding: 1rem;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--secondary);
  border-radius: 1rem;
}
.card > button {
  background-color: var(--primary);
}
/* medium screens */

@media only screen and (min-width: 768px) {
  .cards-grid {
    margin-inline: 1rem;
    grid-template-areas:
      "a b c"
      "d e f";
  }

  header {
    align-items: flex-start;
    padding-inline: 5rem;
    padding-block: 3rem;
  }

  footer {
    margin-inline: 5rem;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    font-size: 24px;
  }
}
