<header>
    <h1>Projects</h1>
    <p>Here lies most of the projects I have worked on.</p>
</header>
<main>
    <section class="cards-grid">
        <section class="card">
            <h3>Stealthy site</h3>
            <span >
                <small>
                    line count: 20k
                    <br/>
                    
                </small>
            </span>
            <p>This website youre looking at right now</p>
            <button>Click me!</button>
        </section>

        <section class="card">
            <h3>Texto</h3>
            <p>A text based image / video renderer </p>
        </section>

        <section class="card">
          <h3>Stealth OS</h3>
          <p>My attempt at writing an operating system</p>
        </section>
    </section>

</main>
<footer>
    <span>
        Content / design &copy; 2024 stealthninja. <br>
        StealthyDev V{{project_version}}<br>
        Angular V{{angular_version}}<br>
    </span>
</footer>
