header {
  display: flex;
  flex-direction: column;
  margin-inline: 2rem;
}

main {
  margin-inline: 0.2rem;
  display: flex;
}

.card > h3 {
  margin: 0px;
  padding-block: 1rem;
  border-radius: 1rem 1rem 0 0;
}

.card > span {
  display: flex;
  gap: 0.2rem;
}

.card > button {
  align-self: center;
}

footer {
  margin-inline: 2rem;
}

@media only screen and (min-width: 768px) {
  .cards-grid {
    margin-inline: 1rem;
    grid-template-areas:
      "a b c"
      "d e f";
  }
}
