<header>
    <h1>Projects</h1>
    <p>Here lies most of the projects I have worked on.</p>
</header>
<main>
    <section class="cards-grid">
        <section class="card">
            <h3>Stealthy site</h3>
            <span>
                    <img src="https://sloc.xyz/github/realstealthninja/stealthysite" alt="line count">
                </span>
            <p>This website youre looking at right now</p>
            <button onclick="location.href='https:\/\/www.github.com/realstealthninja/stealthysite'">Go to project</button>
        </section>

        <section class="card">
            <h3>Texto</h3>
            <span>
                <img src="https://sloc.xyz/github/realstealthninja/texto" alt="line count">
            </span>
            <p>A text based image / video renderer </p>
            <button onclick="location.href='https:\/\/www.github.com/realstealthninja/texto'">Go to project</button>
        </section>

        <section class="card">
          <h3>Stealth OS</h3>
          <span>
            <img src="https://sloc.xyz/github/realstealthninja/texto" alt="line count">
          </span>
          <p>My attempt at writing an operating system</p>
          <button onclick="location.href='https:\/\/www.github.com/realstealthninja/stealthos'">Go to project</button>
        </section>
    </section>

</main>
