<footer>
  <span>
    Content / design &copy; 2024-2026 stealthninja. <br />
    StealthyDev v{{ projectVersion }}<br />
    Angular v{{ angularVersion }}<br />

    @if (javaVersion.hasValue() && springVersion.hasValue()) {
      Spring v{{ springVersion.value().version }} Java
      {{ javaVersion.value().version }}
    } @else if (javaVersion.isLoading() || springVersion.isLoading()) {
      getting backend version...
    } @else if (javaVersion.error() || springVersion.error()) {
      backend is offline.
    }
    <br />
  </span>
</footer>
